@model IEnumerable<Proyecto.Models.Producto>
    
    @{
        Layout = null;
    }

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Productos</title>
    </head>
    <body>
        <table>
            <tr>
                @foreach(var item in Model)
                {
                <td>
                    <img src="@item.RutaImagen" title="@item.Nombre" /><br />
                    Id Producto: <label id=" lblIdProducto_@item.IdProducto">@item.IdProducto</label>
                    Nombre: <label id=" lblNombre_@item.Nombre">@item.Nombre</label>
                    Precio: <label id=" lblPrecio_@item.Precio">@item.Precio</label>
                    <input type="text"id="txtCantidad_@item.IdProducto"/><br />
                    <input type="button" value="Agregar" class="btn-sm" onclick="fnAgregar('lblIdProducto_@item.IdProducto','lblNombre_@item.Nombre','lblPrecio_@item.Precio','txtCantidad_@item.IdProducto','@item.RutaImagen');"/>
                </td>
                }
             </tr>   
        </table>
        <script>
            function fnAgregar(IdProducto, Nombre, Precio, Cantidad, Imagen) {
                //validaciones
                if ($("#" + Cantidad).val() == null || $("#" + Cantidad).val() == "") {
                    alert('Ingrese cantidad');
                    return;
                }
            }
        </script>
    </body>
</html>
